<!-- 打开rviz检查urdf文件解析效果 -->
<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find wheel_leg)/urdf/wheel_leg_stl.xacro" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
    <!-- <remap from="/joint_states" to="/wheel_leg/joint_states" /> -->
    <!-- </node> -->
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find wheel_leg)/urdf/urdf.rviz" />
</launch>