<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find wheel_leg3)/config/robot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/wheel_leg3" args="wheel1_velocity_controller wheel2_velocity_controller joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/wheel_leg3/joint_states" />
  </node>
  <!-- convert ground trouth odom to tf -->
  <node name="odom_to_tf" pkg="wheel_leg3" type="odom_topic_to_tf.py" />
  <!-- Rviz -->
  <node
  name="rviz"
  pkg="rviz"
  type="rviz"
  args="-d $(find wheel_leg3)/urdf/urdf.rviz" />


</launch>